@import "styles/media";

$max-grid: 10540px;
$mobile: 450px;
$ipad: 760px;

.container {
  display: grid;
  grid-column-gap: 1rem;
  position: relative;
  padding-top: 1rem;

  @include media($max-grid) {
    grid-template-columns: repeat(3, 1fr) !important;
  }

  @include media($ipad) {
    grid-template-columns: repeat(2, 1fr) !important;
    grid-row-gap: 1rem;
  }

  @include media($mobile) {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

.environments {
  display: none;
}

.environments .environment {
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  position: sticky;
  text-align: center;
  top: 0;
  letter-spacing: 0.5px;
}

.application_row {
  display: contents;
}

.application_row_spacer {
  grid-column-start: 1;
  grid-column-end: 8;
  margin-bottom: 2rem;

  @include media($max-grid) {
    grid-column-end: 5;
  }

  @include media($ipad) {
    grid-column-end: 3;
  }

  @include media($mobile) {
    grid-column-end: 1;
  }
}

.application_header {
  grid-column-start: 1;
  grid-column-end: 8;

  @include media($max-grid) {
    grid-column-end: 5;
  }

  @include media($ipad) {
    grid-column-end: 3;
  }

  @include media($mobile) {
    grid-column-end: 1;
  }

  padding: 0 0 1rem 0;
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--application-header-text-color);

  @include media($ipad) {
    padding-bottom: 0;
  }

  display: flex;
  align-items: center;

  svg {
    height: 16px;
    margin-left: 0.25rem;

    path {
      fill: rgb(115, 128, 155);
    }
  }
}

.application_environments {
  display: contents;
}

.application {
  position: relative;
  background: var(--tile-background);
  transition: background 0.1s ease-in-out, opacity 0.1s ease-in-out;
  color: var(--main-text-color);
  border: 2px solid var(--tile-border);
  border-radius: 5px;
  //overflow: hidden;
  display: flex;
  z-index: 5;

  a {
    color: var(--main-text-color);
  }

  &:hover {
    background: var(--tile-hover-bg-color);
  }

  &[data-failed="true"] {
    border-color: var(--tile-failed-border-color);
    background-color: var(--tile-failed-background-color);
  }

  &[data-empty="true"] {
    opacity: 0.4;
  }

  &[data-environment-sub="true"] {
    @include media(1000px) {
      position: absolute;

      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      z-index: 0;
      transform: translate(0.5rem, 0.5rem);
    }
  }

  @include media-min(1000px) {
    transform: none !important;
    z-index: 5 !important;
  }
}

.environment_type {
  display: grid;
  grid-auto-columns: 1fr;
  grid-gap: 1rem;
  position: relative;
  margin-right: 0.5rem;
  margin-left: 0.5rem;

  @include media(1000px) {
    display: block;
    margin-right: 0;
    margin-left: 0;
  }

  @include media($max-grid) {
    grid-column: span 1 !important;
    grid-template-columns: 1fr !important;
  }

  &:after {
    display: block;
    content: ' ';
    position: absolute;
    bottom: 0;
    right: calc(-1rem - 1.5px);
    top: 0;
    z-index: 0;
    border-left: 3px solid var(--application-divider-bg-color);
    border-radius: 10px;

    @include media(1000px) {
      border-left: 0 solid rgba(216, 216, 216, 0.5);
    }
  }

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;

    &:after {
      content: none;
    }
  }
}

.application_environment {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.8rem;
  font-weight: 600;
  background: var(--tile-chip-background-color);
  color: var(--tile-chip-text-color);
  padding: 0.25rem 0.325rem 0.325rem 0.5rem;
  border-bottom-left-radius: 3px;

  &[data-failed="true"] {
    background: var(--tile-chip-failed-background-color);
    color: var(--tile-chip-failed-text-color);
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-color: var(--tile-chip-failed-border-color);
  }
}
