
.container {
  display: grid;
  grid-column-gap: 1rem;
}

.environments {
  display: contents;
  display: none;
}

.environments .environment {
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  position: sticky;
  text-align: center;
  top: 0;
  letter-spacing: 0.5px;
}

.application_row {
  display: contents;
}

.application_row_spacer {
  grid-column-start: 1;
  grid-column-end: 8;
  margin-bottom: 1rem;
}

.application_header {
  grid-column-start: 1;
  grid-column-end: 8;
  padding: 1rem 0;
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(160, 174, 207);

  display: flex;
  align-items: center;

  svg {
    height: 16px;
    margin-left: 0.25rem;

    path {
      fill: rgb(115, 128, 155);
    }
  }
}

.application_environments {
  display: contents;
}

.application {
  position: relative;
  background: var(--tile-background);
  transition: background 0.1s ease-in-out;
  color: var(--main-text-color);
  border: 2px solid var(--tile-border);
  border-radius: 5px;
  overflow: hidden;
  display: flex;

  a {
    color: var(--main-text-color);
  }

  &:hover {
    background: #fafafa;
  }

  &[data-failed="true"] {
    border-color: #f39393;
  }
}

.application_environment {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.8rem;
  font-weight: 600;
  background: var(--tile-chip-background-color);
  color: #475264;
  padding: 0.25rem 0.325rem 0.325rem 0.5rem;
  border-bottom-left-radius: 3px;

  &[data-failed="true"] {
    background: #f6a8a8;
    color: #792b2b;
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-color: #f39393;
  }
}
